.imgarti{
	width: 500px;
}

#map-canvas {
    width: 100%;
    height: 700px;
 }

#cartehover{
	position: relative;
}

 .hover{
 	position: absolute;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	z-index: 99999999;
 	background: rgba(0,0,0,0.5);
 	color: #fff;
 }


body {
	height: 100%;
}

.active {
	color: #c00;
	font-weight: bold;
}


/*---- HEADER ----*/

#langue li, #menu li, .RS li {
	float: left;
}

/*---- TEST ----*/

#test .bloc{
	background: red;
	width: 22.6%;
	margin: 5%;
}


/*---- BODY INDEX ----*/

	/*---- SLIDER ----*/

	#slider {
	overflow: hidden;
	position: relative;
	}

	#slider ul {
		position: relative;
	}

	#slider li {
		float: left;
		text-align: center;
	}

	#prev {
		position: absolute;
		top: 45%;
		left: 5%;
	}

	#next {
		position: absolute;
		top: 45%;
		right: 5%;
	}



	/*---- SOUS MENU ----*/
	#sous_menu li{
		float: left;
	}

	/*---- A PROPOS ----*/
		/*---- PICTO ----*/
		#picto_apropos li{
			float: left;
		}

	/*---- SERVICES ----*/
		#services{
			display: none;
		}



	/*---- NOUVEAUTES ----*/
		#nouveaute{
			display: none;
		}

/*---- LES VIGNERONS ----*/
	#vigenrons img{
		padding: 5%;
	}
	/*---- GALERIE ----*/
	.galerie {
		position: relative;
		display: block;
	}

	.galerie .hover{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		background:rgba(0,0,0,0.2);
		text-align: center;
		transition: all .5s ease-in-out;
	}

	.galerie .hover img{
		max-width: 8%;
		margin-top: 13%;
	}

	.galerie .hover:hover{
		background:rgba(0,0,0,0.5);
	}


	/*---- CARTE ----*/
	#carte .hover{
		text-align: center;
		display: block;	
	}

	#carte a:hover .hover{
		display: none;
	}

/*---- LES VINS ----*/

	/*---- col droite ----*/
	.sousmenu li{
		float: left;
	}





/*---- CONTACT ----*/

#formulaire{
	background-image: url(../img/contact/c1.jpg);
	padding: 3%;
	color: #fff;
}

#formulaire h2{
	font-size: 2.3rem;
	text-transform: uppercase;
	margin-bottom: 3rem;
}

#formulaire input{
	padding: 1%;
	width: 28%;
	margin-right: 4.5%;
	font-size: 1.1rem;
}

#formulaire input:nth-of-type(3){
	margin-right: 0;
}

#formulaire textarea{
	float: left;
	padding: 1%;
	width: 62.8%;
	margin-right: 4.5%;
	font-size: 1.1rem;
}

#contactinfo {
	width: 30%;
	float: left;
	background: #fff;
	padding: 2%;
}

#contactinfo h2{
	color: #000
}



body.home-body{
    background-color:#333!important;
        font-family: Raleway;
}
body div.form-home {
    display:block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height:100vh;
    padding:auto;
}

.form-block {
    display: block;
    width:33%;
    margin:12% auto;
    padding:4% 4%;
    background-color:rgba(255,255,255,0.3);
}

.form-block h2 {
    color:white;
    font-size:34px;
    text-transform: uppercase;
    margin-top:-4%;
    font-weight:500;
}

.form-block input {
    padding: 10px 30px;
    margin: 4%;
    background-color: rgba(255,255,255,0);
    border:0px;
    border-bottom: 2px solid white;
    color:white;
    text-align:center;
}
.form-block input:active {
    padding: 10px 30px;
    margin: 4%;
    background-color: rgba(255,255,255,0);
    border:0px;
    border-bottom: 2px solid #03aaee;
    color:#03aaee;
    text-align:center;
}

.form-block input[type="submit"] {
    border: 2px solid white;
    color:white;
    text-align:center;
}
.form-block input[type="submit"]:active {
    border: 2px solid #03aaee;
    color:white;
    background-color:#03aaee;
    text-align:center;
    transition:ease-in-out;
}

div.Recap-Head {
    padding:2em 0;
    text-align:center;  
}
.Recap-Head p {
    padding:10px;
}


























